@model WebApplication2.Models.Ingredient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNavigation.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawMaterialNavigation.Title)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-outline-warning" asp-action="Index">Back to List</a>
</div>
