@model WebApplication2.Models.Salary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
